
<div class="footer mt-5">
 <div class="container">
   <hr>
   <div class="box p-3">
     <h2>CUSTOMER SERVICE</h2>
     <a class="mt-3" href="#">1-800-777-0000</a><br><br>
     <a class="mt-3" href="#">FAQs & Helps</a><br><br>
     <a class="mt-3" href="#">Visitor Services</a><br><br>
     <a class="mt-3" href="#">Domestic Site FAQs</a><br><br>
     <a class="mt-3" href="#"> Shipping to U.S. Site </a><br><br>
   </div>
   <div class="box p-3">
     <h2>YOUR ORDER</h2>
     <a class="mt-3" href="#">Order Status & History</a><br><br>
     <a class="mt-3" href="#">Shipping Policy</a><br><br>
     <a class="mt-3" href="#">Returns & Exchanges</a><br><br>
   </div>
   <div class="box p-3">
     <h2>ABOUT BLOOMINGDALE'S</h2>
     <a class="mt-3" href="#">About Us</a><br><br>
     <a class="mt-3" href="#">b the change</a><br><br>
     <a class="mt-3" href="#">Careers</a>
   </div>
   <div class="box p-3">
     <h2>FOLLOW US</h2>
     <a class="mt-3" href="#">Facebook</a>&nbsp;&nbsp;
     <a class="mt-3" href="#">Whatsapp</a>&nbsp;&nbsp;
     <a class="mt-3" href="#">Twitter</a>&nbsp;&nbsp;
     <a class="mt-3" href="#">HotLine</a>&nbsp;&nbsp;
   </div>
 </div>
</div>
