<div class="container mt-5">
  <div class="card p-2">
    <div class="row">
      <div class="col-6">
        <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Name</mat-label>
            <input matInput
                   placeholder="Product Name"
                   [(ngModel)]="product.productName"
                   name="productName"
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Description</mat-label>
            <input matInput
                   placeholder="Keep it short as you can"
                   [(ngModel)]="product.productDescription"
                   name="productDescription"
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Actual Price</mat-label>
            <input matInput
                   placeholder="Product Actual Price"
                   [(ngModel)]="product.productActualPrice"
                   name="productActualPrice"
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Discounted Price</mat-label>
            <input matInput
                   placeholder="Product Discounted Price"
                   [(ngModel)]="product.productDiscountedPrice"
                   name="productDiscountedPrice"
            >
          </mat-form-field>

          <div align="end">
            <button style="background-color: black; color: white" class="m-1" mat-raised-button type="submit"
                    *ngIf="isNewProduct">Add Product
            </button>
            <button style="background-color: black; color: white" class="m-1" mat-raised-button type="submit"
                    *ngIf="!isNewProduct">update Product
            </button>
            <button style="background-color: black; color: white" mat-raised-button>Clear</button>
          </div>
        </form>
      </div>
      <div class="col-6">

        <div>

          <div class="dropzone"
               appDrag
               (files)="fileDropped($event)"
          >
            <div class="text-wrapper">
              <div class="centered">
                Drag and drop your file or
                <a class="browse-button" (click)="selectFile.click()">browse</a>
                a file
              </div>
            </div>
          </div>

          <input
            style="display: none"
            type="file"
            multiple
            value="select"
            #selectFile
            (change)="onFileSelected($event)"

          >
        </div>
        <div class="mt-5">
          <div class="row">
            <mat-grid-list cols="4" rowHeight="1:1">
              <mat-grid-tile *ngFor="let file of product.productImages; let i =index;">
                <div style="position: relative">
                  <span class="btn-remove-image" (click)="removeImage(i)">x</span>
                  <img [src]="file.url" width="100px" height="100px">
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>

<!-- Button trigger modal -->
<button #myDiv type="button" class="btnn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Alert !</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{alertBody}}
      </div>
    </div>
  </div>
</div>
