<div class="container mt-5">
  <div class="row">
    <div class="col-6" style="height: 500px">

      <mat-grid-list cols="2" rowHeight="3:5" gutterSize="10">
        <mat-grid-tile *ngFor="let file of product.productImages" style="border: 1px solid lightgray">

          <img [src]="file.url" style="height: 350px">

        </mat-grid-tile>
      </mat-grid-list>

    </div>
    <div class="col-6">
      <div class="product-information">
        <div class="mt-3">
          <h2>{{product.productName}}</h2>
        </div>
        <div class="mt-3">
          <b>Description:</b> <br><br>
          {{product.productDescription}}
        </div>
        <div class="mt-3">
          <b>Rs.{{product.productDiscountedPrice}}</b>&nbsp;&nbsp;<b
          style="text-decoration:line-through">{{product.productActualPrice}}</b>
        </div>
        <div>
          <button style="width: 200px" class="mt-3" mat-raised-button color="warn" routerLink="/buyNow">Buy Now</button>
          <button style="width: 200px; margin-left: 20px" class="mt-3 " mat-raised-button color="accent" (click)="addToCart(product.productName)">Add to card</button>
        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<!-- Button trigger modal -->
<button #myDiv type="button" class="btnn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Alert !</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{alertBody}}
      </div>
    </div>
  </div>
</div>
